{{- include "common.values.setup" . }}

{{/* Append the configMap volume to the volumes */}}
{{- define "whatsmyip.settingsVolume-nginx.conf" -}}
enabled: "true"
mountPath: "/etc/nginx/nginx.conf"
subPath: "nginx.conf"
type: "custom"
volumeSpec:
  configMap:
    name: {{ include "common.names.fullname" . }}-config
{{- end -}}
{{- if (index .Values.configmap.config.data "nginx.conf") -}}
{{- $_ := set .Values.persistence "nginx-conf" (include "whatsmyip.settingsVolume-nginx.conf" . | fromYaml) -}}
{{- end -}}

{{/* Render the templates */}}
{{ include "common.all" . }}
